$color-primary: #F1CDB3;
$color-dark-3xl: #292929;
$color-dark-s: #CDCDCD;
$color-dark-1: #545454;
$color-dark-xl: #4C4C4C;

@mixin font-georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1280px;
}

.start-screen {
    background: url('./assets/images/start-screen-gradient-background.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) #211F20;
    padding: 60px 40px 0 40px;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    margin-top: 16px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

h3 {
    @include font-georgia;
    font-size: 35px;
    line-height: 130%;
}

.title {
    @include font-georgia;
    font-size: 32px;
    line-height: 110%;
    color: $color-primary;
}

.subtitle {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    transition: color .1s ease;
    padding-bottom: 2px;
}

.link:not(first-child) {
    margin-left: 35px;
}

.link:hover {
    color: #FAFAFA;
}

.active {
    border-bottom: 3px solid $color-primary;
}

.start-screen-content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.content {
    margin-top: 163px;
}

.heading {
    @include font-georgia;
    font-size: 44px;
    line-height: 130%;
    width: 310px;
    color: #FFFFFF;
}

.paragraph-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.subheading {
    margin-top: 42px;
    width: 460px;
    color: $color-dark-s;
}

.button-contained {
    @include font-georgia;
    text-align: center;
    width: 207px;
    height: 52px;
    background-color: $color-primary;
    border-radius: 100px;
    border: none;
    padding: 15px 45px;
    color: $color-dark-3xl;
    font-size: 17px;
    line-height: 130%;
}

.start-screen-content {
    .button-contained {
        margin-top: 42px;
    }
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 80px 215px 100px 215px;

    .about-content {
        margin-left: 120px;
    }

    h3 {
        line-height: 130%;
        color: $color-dark-1;
    }

    .paragraph-1 {
        margin-top: 25px;
        color: $color-dark-xl;
    }
}